<input type="hidden" name="relate" class="relate">

<div class="form-row">
	<label class="col-12 text-white">ข้อมูลผู้ติดต่อ </label>
	
	<div class="col-12 col-lg">
		<span class="wpcf7-form-control-wrap sender-first-name"><input type="text" name="sender-first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="First Name" data-rule-required="true" /></span>
	</div>
	<div class="col-12 col-lg">
		<span class="wpcf7-form-control-wrap sender-last-name"><input type="text" name="sender-last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="Last Name" data-rule-required="true" /></span>
	</div>
</div>
<div class="form-row">
	<div class="col-12">
		<span class="wpcf7-form-control-wrap sender-company"><input type="text" name="sender-company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="Company Name" data-rule-required="true" /></span>
	</div>
	<div class="col-12">
		<span class="wpcf7-form-control-wrap sender-tel"><input type="tel" name="sender-tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="Phone" data-rule-required="true" /></span>
	</div>
	<div class="col-12">
		<span class="wpcf7-form-control-wrap sender-email"><input type="email" name="sender-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="Email Address" data-rule-required="true" /></span>
	</div>
	
	
</div>
<!--<div class="form-row">
	<div class="col-12 col-lg">
		<span class="wpcf7-form-control-wrap sender-country"><input type="text" name="sender-country" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg text-capitalize mb-2" aria-required="true" aria-invalid="false" placeholder="Country" data-rule-required="true" /></span>
	</div>
	<div class="col-12 col-lg">
		<span class="wpcf7-form-control-wrap sender-industry"><input type="text" name="sender-industry" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg text-capitalize mb-2" aria-required="true" aria-invalid="false" placeholder="Industry" data-rule-required="true" /></span>
	</div>
</div>-->
<div class="form-row mt-3">
	<label class="col-12 text-white">เรื่องที่ต้องการติดต่อ</label>
	<div class="col-12">
		<!--<span class="wpcf7-form-control-wrap sender-first-name"><input type="text" name="sender-first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg mb-2" aria-required="true" aria-invalid="false" placeholder="A company looking for robotics solution" data-rule-required="true" /></span>-->
		<span class="wpcf7-form-control-wrap sender-solution">
		<select name="sender-topic" class="custom-select wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control form-control-lg mb-2">
		  <option value="1">ติดต่อสอบถามบริการ</option>
		  <option value="2">แจ้งนัดหมายใช้บริการ</option>
		  <option value="3">อื่นๆ</option>
		  <!--<option>option 3</option>
		  <option>option 4</option>
		  <option>option 5</option>-->
		</select>
		</span>
	</div>
	<div class="col-12">
		<span class="wpcf7-form-control-wrap sender-message"><textarea name="sender-message" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea form-control form-control-lg mb-2" aria-invalid="false" placeholder="Comments"></textarea></span>
		<button type="submit" class="wpcf7-form-control wpcf7-submit btn btn-dark btn-block btn-lg text-uppercase mt-2">SUBMIT</button>
	</div>
</div>
