<!--<script type="text/javascript" src="https://onetoonecontacts.com/assets/website2019/js/ft2020-link.js"></script>	-->

<section id="credits" class="py-3">
		<div class="container-fluid">
			<div class="row no-gutters">
				<div class="col-11 col-md-10 col-xl-11 mx-auto">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col">
							<p class="text-capitalize text-left m-0">© 2021 K-WIZ SOLUTION.</p>
						</div>
						<div class="logo-ft">
							<a href="#" title="K-WIZ SOLUTION"><img src="https://www.k-wiz.co.th/static/di/logo.png" height="60"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>