<header id="header" class="nav-absolute-center">
    <div class="container-fluid">
       <div class="row no-gutters">
          <div class="col-11 col-md-12 col-xl-11 mx-auto">

            <nav class="navbar navbar-center navbar-dark navbar-expand-md navbar-toggler-right" role="navigation">

                            
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fal fa-bars"></i>
              </button>

              <a class="navbar-brand mx-auto mx-xl-0" href="index.php">
                                <img src="https://www.k-wiz.co.th/static/di/logo.png" alt="K-WIZ">
                              </a>

              <div id="navbar-nav" class="collapse navbar-collapse">
              <ul id="menu-navbar" class="navbar-nav ml-auto">
			  	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1 current_page_item active menu-item-453 nav-item"><a title="Home" href="index.php" class="nav-link">HOME</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-449 nav-item">
					<a title="Products" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle nav-link" id="menu-item-dropdown-449">PRODUCTS</a>
					<ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-449" role="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item"><a title="Ecobot Scrub 50" href="ecobot-scrub-50.php" class="dropdown-item">Ecobot Scrub 50</a></li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item"><a title="Ecobot Scrub 75" href="ecobot-scrub-75.php" class="dropdown-item">Ecobot Scrub 75</a></li>
					</ul>
				</li>	  
				<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item"><a title="SERVICE" href="service.php" class="nav-link">SERVICE</a></li>
				<li class="menu-item menu-item-type-post_type menu-item-object-page nav-item"><a title="Contact" href="contact.php#request-demo" class="nav-link">ABOUT US</a></li>
			</ul>              
			</div>
              <!--<a id="btn-demo" href="javascript:void(0)" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#booking-form">REQUEST A DEMO</a>-->
			  <a id="btn-demo" class="btn btn-success af-none" target="_blank" href="http://line.me/ti/p/~K-Wiz"><img src="https://social-plugins.line.me/img/web/v3-share/square-default.png" height="24"> K-Wiz Solution</a>
            </nav>

        </div>
      </div>
    </div>
  </header>
