
<meta charset="UTF-8">
<title>K-WIZ แตกต่างด้วยความเป็นมือาชีพ</title>
<meta name="keywords" content='แก้ท่อตัน,แก้ส้วมตัน,แก้ท่อระบายน้ำอุดตัน,งูเหล็ก,กล้องสำรวจในท่อ,รับเหมาดูและระบบท่อสุขาภิบาล' />
<meta name="description" content='รับแก้ปัญหาท่อตันอย่างมืออาชีพ บริการสุภาพ ด้วยเครื่องมือทันสมัย มีกล้องตรวจสอบในท่อ ลูกค้ามองเห็นได้ด้วยตนเอง มั่นใจได้ว่าปัญหาถูกแก้ไขจริง ไม่หายไม่คิดเงิน' />
<meta name="author" content="k-wiz.co.th" />
<meta name="robots" content="index,follow" />
<meta name="revisit-after" content="4 hours"/>
<meta name="google-site-verification" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

<!-- Begin Social Open Graph Facebook  -->
<meta property="fb:app_id" content="581477372016870"/>
<meta property="og:title" content="K-WIZ แตกต่างด้วยความเป็นมือาชีพ" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="k-wiz.co.th"/>
<meta property="og:description" content="รับแก้ปัญหาท่อตันอย่างมืออาชีพ บริการสุภาพ ด้วยเครื่องมือทันสมัย มีกล้องตรวจสอบในท่อ ลูกค้ามองเห็นได้ด้วยตนเอง มั่นใจได้ว่าปัญหาถูกแก้ไขจริง ไม่หายไม่คิดเงิน"/>
<meta property="og:image" content="/static-cache/static/di/default/default_fb-506x303.jpg" />
<meta property="og:url" content="/th/"/><!-- End Social Open Graph Facebook  -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;700&family=Sarabun&display=swap" rel="stylesheet"> 
<link href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet">
<link rel='stylesheet' id='theme-style-css'  href='assets/css/style.css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='plugins/contact-form-7/includes/css/styles.css' media='all' />
<link rel='stylesheet' id='cf7cf-style-css'  href='plugins/cf7-conditional-fields/style.css' media='all' />
<link rel='stylesheet' id='theme-css'  href='assets/css/theme.css' media='all' />

<!--<link rel="apple-touch-icon" sizes="180x180" href="assets/imgs/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/imgs/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/imgs/favicon-16x16.png">-->
<link rel="shortcut icon" href="assets/imgs/index.ico">

<meta name="msapplication-TileColor" content="#1C3A6F">
<meta name="theme-color" content="#ffffff">