<!-- modal -->
<div class="modal fade" id="booking-form" tabindex="-1" role="dialog" aria-labelledby="booking-form" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header align-items-center justify-content-end py-4">
				<a class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fal fa-lg fa-fw fa-times"></i></a>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col col-lg-11 mx-auto">
						<div class="d-flex flex-column px-4 px-sm-5 px-lg-4">
														<h1 class="font-weight-bold text-primary text-center text-uppercase mb-4">Request for Appointment</h1>
														<p class="font-weight-normal text-center text-dark mb-4">For more information about the Ecobot, or to see the Ecobot in action, please fill out the form below and we will get in touch with you!</p>
							<div role="form" class="wpcf7" lang="en-US" dir="ltr">
<form action="/#requestmodal" method="post" class="wpcf7-form" novalidate="novalidate">
<?php include("incs/contactform.html"); ?>
</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /modal -->

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript' src='assets/js/app.min.js?ver=1540328200'></script>
<script type='text/javascript' src='assets/js/jquery.validate.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var cf7_notie_vars = {"alert_color_success_background":"#0d4568","alert_color_warning_background":"#fbb03b","alert_color_error_background":"#dc3545"};
/* ]]> */
</script>
<script type='text/javascript' src='assets/js/notie.js?ver=1.0'></script>
<script type='text/javascript' src='assets/js/contactform.js?ver=5.0.4'></script>
<script type="text/javascript">
function show_notie(notie_style, message) {
    notie.alert(notie_style, message, 3);
}
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>