/*header*/
.navbar-pin{
background: #fff;
}
.navbar-dark .navbar-nav .nav-link{color: #fff}
.navbar-pin .navbar #navbar-nav{position: relative;z-index: 2}
.navbar-expand-md.navbar{min-height: 60px}
.navbar-pin .navbar:after{ content: "";display: block; position: absolute;top: 0;right:0;bottom: 0; width:265px; background: #fff; z-index: -1;transform: skewX(-22deg);-webkit-transform: skewX(-22deg)}
.navbar-pin:after{content: "";display: block; position: absolute;top: 0;right:0; bottom: 0; width: 15vw;right: 0;background: #fff; z-index: -1}
.navbar-center .navbar-brand img:last-of-type{display: block}
.navbar-nav .dropdown-item{color:#333}
.navbar-nav .dropdown-menu .nav-item:hover {background-color: #333}
.navbar-expand-md .navbar-nav li{position: relative}
.navbar-expand-md .navbar-nav li:hover .dropdown-menu{display: block}
#header .navbar-brand img,#credits .logo-ft img{ max-height:50px;height: auto}
.navbar-pin .navbar-brand img{max-height: 40px; height: auto}
.nav-absolute-center{position: relative}
#carousel{padding-bottom: 30px}
#carousel .slide-wrapper{position: relative}
#carousel .slide-wrapper .slide-content{overflow: visible}
.carousel-inner{ overflow: visible}
#carousel .slide-wrapper .slide-video{position: absolute;top: 0;left: 0;transform:none;-webkit-transform:none;object-fit: cover}
#carousel .slide-wrapper .slide-bg,#carousel .slide-wrapper .slide-video{height: 60vh;min-height: 400px}
.carousel-item{overflow: visible;min-height: 400px;height: 60vh}
.carousel-item .img-bottom{position: relative;bottom: -30px}
.carousel-indicators li{width: 10px;height: 10px;background: rgba(255,255,255,1)}
.carousel-indicators .active{background: #CA232A}

.navbar-expand-md.navbar-toggler-right .navbar-brand{padding: 0}
/*#header .navbar-brand img{filter: invert(.75) hue-rotate(-185deg) contrast(0.4) saturate(3)}*/
.navbar #btn-demo{display: block}
.navbar-nav > .nav-item > .nav-link{color: #666!important}
.navbar-nav > .nav-item.active > .nav-link{color: #1C3A6F!important}
.navbar-expand-md .navbar-nav .nav-link {
    padding: 10px 1.15rem;
}
#request-demo .my-3 img{max-height: 30px}
img{max-width: 100%}
/**/
body{color: #666}
.text-primary { color: #666 !important}
.bg-blue .text-primary { color: #fff !important}
.btn-tertiary {color: #fff;background-color: #1C3A6F; border-color: #1C3A6F;}
.btn-tertiary:hover{ color:#fff; background-color: #333; border-color: #333;}
.bg-blue{
background: #1C3A6F;
}
[id="home"] .h3{color:#CA232A}
.nav-absolute-center{background: #fff}
ul.list{list-style-type: none;margin: 0;padding: 0}
ul.list>li{position: relative; padding-left:30px;line-height:22px; margin-bottom: 10px;}
ul.list>li.head{flex-basis:100%;max-width: 100%;color: #08f26e}
ul.list>li:before{content: "";display: block; position: absolute;top: 5px; left: 0; width: 20px; height: 20px; background: url("../imgs/ft-check-corp.png") 50% 50% no-repeat; background-size: auto 100%}

.scroll-prompt{display: none}
#product-showcase{ background-image: url("../imgs/bg-download.png")}
#product-showcase.bg-none{background: none}
@media (min-width:768px) {.nav-absolute-center{background: none}}
@media (min-width:992px) {
#product-showcase,#product-showcase .slick-list{overflow: visible}
#product-showcase .slick-track,.slick-initialized .slick-slide{  max-width: 100%}
#product-showcase .slides>div+*{height: 0; opacity: 0!important}
.slick-initialized .slick-slide{width: 98%!important;}
.slick-initialized .slick-slide+.slick-slide[aria-hidden="false"]{opacity: 1!important}
#product-showcase .slick-track{min-height:380px;max-height: 60vh}
.slick-initialized .slick-slide{position: absolute!important;left: 0!important;top: 0!important}
#product-showcase .slick-slider{overflow: visible;position: relative;}
}
@media (min-width:1201px) {
#product-showcase .slides img.mx-auto{margin-top: -150px}
}
#product-showcase .slick-slide img{max-width: 100%}
#product-showcase .slides h1{color: #fff;font-size: 3.5vmin}
#product-showcase .slides .h5{color: #666}
@media (max-width:991px) {
img{max-width: 100%;height: auto}
#product-showcase .slick-slide img{max-width: 70%}
#product-showcase .slides h1{color: #333;font-size: 21px; text-align: center!important}
#product-showcase .slides h1 br{display: none}
#product-showcase .slides img.mb-2{filter: invert(1) opacity(.75);margin: 0 auto}
footer #credits p{font-size: 12px;text-align: center!important}
.logo-ft{text-align: center}
.logo-ft>a{display: inline-block;max-width: 40%;vertical-align: middle}
.navbar-nav .dropdown-item{padding-left: 10px; }
}

#product-list ul li>a{display: block;border-radius: 1.2em!important;}
#product-list ul li h3{padding: 10px;font-size: 21px}
#product-list ul li h3 img{display: block;height: auto;max-height: 40px; max-width: 85%; margin: 0 auto}
#product-list ul li h3 span{display: none}
#product-list ul li figure{/*padding-top: 10px;padding-bottom: 10px;border-top: 1px solid #F2F2F2;border-bottom: 1px solid #F2F2F2;*/margin-bottom:10px}
#product-list ul li figure img{ display: block;max-width: 100%;max-height: 300px; margin: 0 auto;border-radius: .5rem}
#product-list ul li .btn:after,.btn.af-none:after{display: none}
#product-list ul li div{color: #666;font-weight: 200;font-size: 15px}
/**/
.custom-select{height: calc(2.875rem + 2px); -webkit-appearance: none;appearance: none;}
.btn-secondary{background: #1C3A6F;border: none;border-radius: 5em;-webkit-border-radius: 5em;}
.btn-danger{background: #CA232A; border: none;border-radius: 5em!important;-webkit-border-radius: 5em!important;}
.btn-success{background: #00B900; border: none;border-radius: 5em!important;-webkit-border-radius: 5em!important;}
.btn-success:hover{opacity: 1;background: #00B900;}
/*slide*/
.section--feature-tabs .nav-tabs{top: auto;bottom: 0}
#product-feature-tab-content{padding-bottom: 85px}
.section--feature-tabs .feature-content-container{bottom: 85px}
.section--feature-tabs .nav-tabs .nav-link{position: relative;background: none;color: #ccc}
.section--feature-tabs .nav-tabs .nav-link img{filter:invert(1) opacity(.2)}
.section--feature-tabs .nav-tabs .nav-link.active {color: #fff;
background: #1C3A6F;
}
.section--feature-tabs .nav-tabs .nav-link.active img{filter: none}
.section--feature-tabs .nav-tabs .nav-item .nav-link.active:after{content: "";display: block; position: absolute; top: 0; border-bottom:85px solid transparent}
.section--feature-tabs .nav-tabs .nav-item:first-child .nav-link.active:after{border-left: 85px solid #1C3A6F;left: 100%;}
.section--feature-tabs .nav-tabs .nav-item:last-child .nav-link.active:after{border-right: 85px solid #1C3A6F;border-bottom: none;border-top: 85px solid transparent; right: 100%;}
.section--feature-tabs .nav-tabs .nav-item:last-child .nav-link.active{
background: #1C3A6F;
}
.section--feature-tabs .feature-icons-bar{padding: 1.5rem 0;overflow: auto;background:transparent;z-index:2}
.section--feature-tabs .feature-icons-bar:before{content:"";display:block;position:absolute;left:0;right:0;top:0;bottom:0;z-index:-1;opacity:.5;
background: #00f2f7;
background: -moz-linear-gradient(left,  #00f2f7 0%, #00f2f7 37%, #093e78 56%, #093e78 100%);
background: -webkit-linear-gradient(left,  #00f2f7 0%,#00f2f7 37%,#093e78 56%,#093e78 100%);
background: linear-gradient(to right,  #00f2f7 0%,#00f2f7 37%,#093e78 56%,#093e78 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f2f7', endColorstr='#093e78',GradientType=1 );}
.section--feature-tabs .feature-icons-bar .feature-icon {width: 180px; padding: 0;display: flex;flex-flow: row nowrap}
.section--feature-tabs .feature-icons-bar .feature-icon>div{flex-basis:40%;max-width:40%;padding-right: 10px}
.section--feature-tabs .feature-icons-bar .feature-icon i{}
.section--feature-tabs .feature-icons-bar .feature-icon p{font-size: 14px; line-height: 20px; text-align: left;margin: 0}
[class*="ic-ft-"]:before{content: "";display: block;padding: 100% 0 0}
[class*="ic-ft-"]{ display: block;width: 100%; background: url("../imgs/icon-set.png") 50% 50% no-repeat; background-size: 100% auto}
[class*="ic-ft-"][class*="-01"]{background-position: 50% 0}
[class*="ic-ft-"][class*="-02"]{background-position: 50% 16.66%}
[class*="ic-ft-"][class*="-03"]{background-position: 50% 33.33%}
[class*="ic-ft-"][class*="-04"]{background-position: 50% 50%}
[class*="ic-ft-"][class*="-05"]{background-position: 50% 66.66%}
[class*="ic-ft-"][class*="-06"]{background-position: 50% 83.33%}
[class*="ic-ft-"][class*="-07"]{background-position: 50% 100%}
/**/
#engineered-simplicity .section-title{ color: #666}
#engineered-simplicity .flex-column p{ color: #808080;font-size: 20px}
/**/
.section--shape-blocks .shape-row.shape-row-bottom .shape-content, .section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(2) .shape-content, .section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(3) .shape-content,
.section--shape-blocks .shape-row.shape-row-top .shape-content, .section--shape-blocks .shape-row.shape-row-top .shape:nth-child(2) .shape-content, .section--shape-blocks .shape-row.shape-row-top .shape:nth-child(3) .shape-content{border-radius: 2em!important;-webkit-border-radius: 2em!important}

.section--shape-blocks .shape-row .shape-content{ width: 288px; height:288px;clip-path:none;-webkit-clip-path:none}
@media (min-width:576px) {
.section--shape-blocks .shape-row .shape-content{height:288px;}
}
@media (min-width:992px) {
.section--shape-blocks .shape-row .shape-content{width: 328px; height: 328px;}
}
.section--shape-blocks .shape-row .shape-icon .shape-icon-outer{color: #fff}
.section--shape-blocks .shape-row .shape-icon .fa-layers svg.text-secondary{color: #CA232A!important}
.section--shape-blocks .shape-row.shape-row-top .shape-icon,.section--shape-blocks .shape-row.shape-row-bottom .shape-icon {
    left: 50%;    top: 6%;    transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); width: 149px;height: 149px; border-radius: 100%; box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.section--shape-blocks .shape-row.shape-row-bottom .shape-icon{top: auto;right: auto; bottom: 6%; transform: translate(-50%,50%);-webkit-transform: translate(-50%,50%);}
.section--shape-blocks .shape-row .shape-icon .fa-layers{position: inherit;width: auto;height: auto;transform:none;display: block}
.section--shape-blocks .shape-row.shape-row-top .shape-content .shape-description{padding-top: 4rem}
.section--shape-blocks .shape-row.shape-row-bottom .shape-content .shape-description{padding-bottom: 4rem}
.section--shape-blocks .shape-row .shape-content .shape-description p{font-size: 14px; font-weight: 200;padding-left: 10px; padding-right: 10px}
.section--shape-blocks .shape-row.shape-row-top .shape-content,.section--shape-blocks .shape-row.shape-row-top .shape:nth-child(2) .shape-content,.section--shape-blocks .shape-row.shape-row-top .shape:nth-child(3) .shape-content{
background: #1C3A6F;
border-radius: 100%
}
/*.section--shape-blocks .shape-row.shape-row-top .shape-content{ border-bottom-right-radius: 0}
.section--shape-blocks .shape-row.shape-row-top .shape:nth-child(2) .shape-content{ border-bottom-right-radius: 0;border-bottom-left-radius: 0}
.section--shape-blocks .shape-row.shape-row-top .shape:nth-child(3) .shape-content{border-bottom-left-radius: 0}*/
.section--shape-blocks .shape-row.shape-row-bottom .shape-content,.section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(2) .shape-content,.section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(3) .shape-content{
background: #1C3A6F;
border-radius: 100%
}
/*.section--shape-blocks .shape-row.shape-row-bottom .shape-content{ border-top-right-radius: 0}
.section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(2) .shape-content{border-top-right-radius: 0;border-top-left-radius: 0}
.section--shape-blocks .shape-row.shape-row-bottom .shape:nth-child(3) .shape-content{border-top-left-radius: 0}
.section--shape-blocks .shape-row.shape-row-bottom .shape-icon{right: 0;bottom: 0}*/
.shape-icon .fa-layers svg.svg-inline--fa:not(.fa-circle){font-size: 3.5rem;color: #fff}
/*[class*="icn-sv-0"]{display: block;position: absolute; width: 1em; height: 1em;text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
[class*="icn-sv-0"]:before{content: "";display: block;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);width: 70%; height: 70%; margin: 0 auto; background:url("../imgs/icon-service-set.png") 50% 0 no-repeat;background-size: 100% auto}
[class*="icn-sv-02"]:before{background-position: 50% 20%}
[class*="icn-sv-03"]:before{background-position: 50% 40%}
[class*="icn-sv-04"]:before{background-position: 50% 60%}
[class*="icn-sv-05"]:before{background-position: 50% 80%}
[class*="icn-sv-06"]:before{background-position: 50% 100%}*/
/*ecobot service*/
.btn,.btn-lg, .btn-group-lg > .btn{border-radius: .5rem;-webkit-border-radius: .5rem}
.navbar> .btn-secondary{border-radius: 5rem;-webkit-border-radius: 5rem}
[id="ecobot-service"] .section-title{font-size: 1.5rem}
[id="ecobot-service"] .list-bull,[id="ecobot-service"] .list-bull>li{list-style-type: none;position: relative}
.list-bull>li:before{content: "";display: block;width: 10px;height: 10px; position: absolute; top: 8px; left: -20px; background: #1C3A6F; border-radius: 5em;-webkit-border-radius: 5em}
/*footer*/
#request-demo .bg-image{position: relative;background: none;/*background-image: url("../imgs/bg-contact.jpg")*/}
#request-demo .bg-image>.d-flex{position: relative;z-index: 2}
#request-demo .gmap{display: block;position: absolute;top: 0;left: 0;right: 0;bottom: 0;filter: brightness(0.25);z-index: 1}
#request-demo .custom-select,#request-demo .form-control-lg{border-radius: .5rem;border: none}
footer #credits{background:#191919;color: #fff}
footer #credits p{color: #fff}
/*products*/
main[id*="ecobot-scrub-"] .text-primary g{
/*background: -moz-linear-gradient(left,  #30CFD0 0%, #330867 100%);
background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;*/
color:#07619d!important;
}
/*[id*="ecobot-scrub"] .fa-layers .fa-hexagon{ width: 48px; height: 55px;left: -4px!important; background: url("../imgs/bg-icon-gr.png") 50% 50% no-repeat; background-size: 50px auto}
[id*="ecobot-scrub"] .fa-layers .fa-hexagon *,[id*="ecobot-scrub"] .fa-layers .svg-inline--fa > *{display: none!important}
[id*="ecobot-scrub"] .fa-layers .fa-inverse{background: url("../imgs/ic-set-75.png") 50% 2% no-repeat;background-size: 48px auto}
[id="ecobot-scrub-50"] .fa-layers .fa-inverse{background-image: url("../imgs/ic-set-50.png")}
[id="ecobot-scrub-50"] .fa-layers .fa-vector-square{background-position:50% 2%}
[id="ecobot-scrub-75"] .fa-layers .fa-tachometer-alt-fastest,[id="ecobot-scrub-50"] .fa-layers .fa-arrows{background-position:50% 14.2%}
[id="ecobot-scrub-75"] .fa-layers .fa-vector-square,[id="ecobot-scrub-50"] .fa-layers .fa-compass{background-position:50% 26.2%
}
[id="ecobot-scrub-75"] .fa-layers .fa-exchange-alt,[id="ecobot-scrub-50"] .fa-layers .fa-cog{background-position:50% 38.2%}
[id="ecobot-scrub-75"] .fa-layers .fa-bell,[id="ecobot-scrub-50"] .fa-layers .fa-bell{background-position:50% 50.2%}
[id="ecobot-scrub-75"] .fa-layers .fa-map-marked,[id="ecobot-scrub-50"] .fa-layers .fa-map-marked{background-position:50% 62.2%}

[id="ecobot-scrub-75"] .fa-layers .fa-arrows,[id="ecobot-scrub-50"] .fa-layers .fa-fingerprint{background-position:50% 74.2%}
[id="ecobot-scrub-75"] .fa-layers .fa-recycle,[id="ecobot-scrub-50"] .fa-layers .fa-wrench{background-position:50% 86.2%}
[id="ecobot-scrub-75"] .fa-layers .fa-wrench,[id="ecobot-scrub-50"] .fa-layers .fa-shield-check{background-position:50% 98.2%}*/

.modal-body .text-white{color: #333!important}

/*responsive*/
@media (max-width:1200px) {
.navbar-expand-md .navbar-nav .nav-link,.navbar #btn-demo{font-size: 12px;white-space: nowrap}
.navbar-pin .navbar:after{width:225px}
}
@media (max-width:991px) {
#product-feature-tab-content{padding-bottom:170px}
.section--feature-tabs .feature-icons-bar{bottom:85px}
.section--feature-tabs .feature-icons-bar:before{min-width:1366px;}
.navbar-pin .navbar #btn-demo,.navbar-pin .navbar:after,.navbar-pin:after{display: none}
}
@media (max-width:767px) {
.hidden-xs{display: none!important}
.feature-heading img,.section--feature-tabs .nav-tabs .nav-link img{max-width: 95%}
.section--feature-tabs .nav-tabs li{max-width: 100%}
#product-feature-tab-content{padding-bottom: 141px}
.section--feature-tabs .feature-icons-bar{bottom:0}
.section--feature-tabs .feature-content-container{bottom: 141px}
.navbar-toggler-right .navbar-brand{padding-top: 10px; padding-bottom: 10px;}
.navbar-brand img, footer .logo img{ height: 50px; max-width:100%}
.navbar-expand-md.navbar-toggler-right .navbar-brand{width: 100%}
.navbar-dark .navbar-toggler{background: rgba(0,0,0,0.5);border-radius: .3em}
.navbar-expand-md.navbar-toggler-right .navbar-brand img{margin: 0 auto}
.navbar #btn-demo{margin: 0 auto;}
.section--shape-blocks .shape-row.shape-row-top .shape{margin-top: 4rem}
.section--shape-blocks .shape-row.shape-row-bottom .shape{margin-bottom: 4rem}
#product-list ul.d-flex{flex-wrap: wrap}
#product-list ul.d-flex>li{margin-bottom: 20px}
}
@media (max-width:480px) {
.section--feature-tabs .feature-content-container + img{ min-height:370px}
}